{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
{{- if eq .personal.location "work" }}
    "codely": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "codely proxy",
      "options": {
        "baseURL": "http://localhost:19191/v1",
      },
      "models": {
        "glm-5-fp8": {
          "name": "glm-5-fp8"
        },
        "glm-4.7-fp8": {
          "name": "glm-4.7-fp8"
        }
      }
    }
{{- end }}
  },
  "mcp": {
    "renderdoc-mcp-server": {
      "type": "local",
      "command": [
        "renderdoc-mcp"
      ],
      "enabled": true
    }
  },
  "plugin": [
    "oh-my-opencode"
  ]
}
