[chezmoi.config.bitwarden]
    unlock = "auto"
{{- if eq .chezmoi.os "windows" }}

[cd]
    command = "pwsh"
{{- end }}

[data.personal]
{{- $email := promptStringOnce . "personal.email" "Email address" "souvenal777@gmail.com" }}
    email = {{ $email | quote }}
{{- $location_choices := list "nju" "unity-cn" "home" }}
{{- $location := promptChoiceOnce . "personal.location" "Location" $location_choices "home" }}
    location = {{ $location | quote }}
{{- $name := promptStringOnce . "personal.name" "Name" "Souvenal" }}
    name = {{ $name | quote }}
    
[data.bash]
    use_kiro_cli = false

[data.language.cpp]
{{- if eq .chezmoi.os "linux" }}
{{- $cc := promptChoiceOnce . "language.cpp.cc" "C compiler" (list "/usr/bin/gcc") "/usr/bin/gcc" }}
{{- $cxx := promptChoiceOnce . "language.cpp.cxx" "C++ compiler" (list "/usr/bin/g++") "/usr/bin/g++" }}
    cc = {{ $cc | quote }}
    cxx = {{ $cxx | quote }}
    cmake_generator = "Ninja Multi-Config"
{{- else if eq .chezmoi.os "darwin" }}
{{- $cc := promptChoiceOnce . "language.cpp.cc" "C compiler" (list "/usr/bin/clang" "/usr/local/bin/clang") "/usr/local/bin/clang" }}
{{- $cxx := promptChoiceOnce . "language.cpp.cxx" "C++ compiler" (list "/usr/bin/clang++" "/usr/local/bin/clang++") "/usr/local/bin/clang++" }}
    cc = {{ $cc | quote }}
    cxx = {{ $cxx | quote }}
    cmake_generator = "Ninja Multi-Config"
{{- else if eq .chezmoi.os "windows" }}
{{- $cc := promptChoiceOnce . "language.cpp.cc" "C compiler" (list "clang-cl") "clang-cl" }}
{{- $cxx := promptChoiceOnce . "language.cpp.cxx" "C++ compiler" (list "clang-cl") "clang-cl" }}
{{- $cmake_gen_choices := list "Ninja Multi-Config" "Visual Studio 18 2026" }}
{{- $cmake_generator := promptChoiceOnce . "language.cpp.cmake_generator" "CMake generator" $cmake_gen_choices "Ninja Multi-Config" }}
    cc = {{ $cc | quote }}
    cxx = {{ $cxx | quote }}
    cmake_generator = {{ $cmake_generator | quote }}
{{- end }}
 
[data.language.python]
    conda_root = "{{ .chezmoi.homeDir }}/miniconda3"

[data.sdk]
    sdk_path = "$HOME/SDKs"
    pkg_config_path = "" # the path depends on system

    vulkan_sdk_version = "" # blank
{{- if eq .chezmoi.os "darwin" }}
    llvm_path = "$(brew --prefix llvm)"
{{- else }}
    llvm_path = ""
{{- end }}

[data.network]
    http_proxy = "http://localhost:7890"
    https_proxy = "http://localhost:7890"
{{- $no_proxy_list := list
        "localhost" "127.0.0.0/8" "::1" "10.0.0.0/8"
        "172.16.0.0/12" "192.168.0.0/16" ".local"
        ".cn" ".aliyun.com" ".huaweicloud.com" ".hiascend.com"
        ".qq.com" ".163.com" ".npmmirror.com" }}
    no_proxy = {{ $no_proxy_list | join "," | quote }}

[data.public_keys]
    gpg_key_id = "333F460B105EC701"

[data.zsh]
    use_oh_my_zsh = {{ if eq .chezmoi.os "darwin" -}}true{{- else }}false{{- end }}
    use_kiro_cli = false
    use_theme_p10k = false
    use_theme_starship = true
