[chezmoi.config.bitwarden]
    unlock = "auto"
    
[data.bash]
    use_kiro_cli = false

[data.language.cpp]
{{- $cc_choices := list "" }}
{{- $cc_default := "" }}
{{- $cxx_choices := list "" }}
{{- $cxx_default := "" }}
{{- if eq .chezmoi.os "linux" }}
    {{- $cc_choices = list "/usr/bin/gcc" }}
    {{- $cc_default = "/usr/bin/gcc" }}
    {{- $cxx_choices = list "/usr/bin/g++" }}
    {{- $cxx_default = "/usr/bin/g++" }}
{{- else if eq .chezmoi.os "darwin" }}
    {{- $cc_choices = list "/usr/bin/clang" "/usr/local/bin/clang" }}
    {{- $cc_default = "/usr/local/bin/clang" }}
    {{- $cxx_choices = list "/usr/bin/clang++" "/usr/local/bin/clang++" }}
    {{- $cxx_default = "/usr/local/bin/clang++" }}
{{- else if eq .chezmoi.os "windows" }}
    {{- $cc_choices = list "" }}
    {{- $cc_default = "" }}
    {{- $cxx_choices = list "" }}
    {{- $cxx_default = "" }}
{{- end }}
{{- $cc := promptChoiceOnce . "language.cpp.cc" "C compiler" $cc_choices $cc_default }}
{{- $cxx := promptChoiceOnce . "language.cpp.cxx" "C++ compiler" $cxx_choices $cxx_default }}
    cc = {{ $cc | quote }}
    cxx = {{ $cxx | quote }}
{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") }}
    cmake_generator = "Ninja Multi-Config"
{{- else if eq .chezmoi.os "windows" }}
    cmake_generator = "Visual Studio 17 2026"
{{- end }}
 
[data.language.python]
{{- if eq .chezmoi.os "darwin" }}
    conda_root = "{{ .chezmoi.homeDir }}/miniconda3"
{{- end }}

[data.lib]
    dev_sdk_root = "$HOME/Libraries"
    pkg_config_path = "" # the path depends on system

    vulkan_sdk_version = "" # blank
{{- if eq .chezmoi.os "darwin" }}
    {{- $use_brew_llvm := promptBoolOnce . "lib.use_brew_llvm" "Use brew-installed LLVM" true }}
    use_brew_llvm = {{ $use_brew_llvm }}
    {{- if $use_brew_llvm }}
        {{- $llvm_version_choices := list "17" "18" "19" "20" "21" "latest" }}
        {{- $llvm_version := promptChoiceOnce . "lib.llvm_version" "LLVM version" $llvm_version_choices "latest" }}
        {{- if eq $llvm_version "latest" }}
    llvm_root = "$(brew --prefix llvm)"
        {{- else }}
    llvm_root = "$(brew --prefix llvm@{{ $llvm_version }})"
        {{- end }}
    {{- else }}
    llvm_root = ""
    {{- end }}
{{- else }}
    llvm_root = ""
{{- end }}

[data.personal]
{{- $email := promptStringOnce . "personal.email" "Email address" "souvenal777@gmail.com" }}
    email = {{ $email | quote }}
{{- $location_choices := list "nju" "unity-cn" "home" }}
{{- $location := promptChoiceOnce . "personal.location" "Location" $location_choices "home" }}
    location = {{ $location | quote }}
{{- $name := promptStringOnce . "personal.name" "Name" "Souvenal" }}
    name = {{ $name | quote }}

[data.proxy]
{{- $use_proxy := promptBoolOnce . "proxy.use_proxy" "Use proxy" false}}
    use_proxy = {{ $use_proxy }}
    http = "http://localhost:7890"
    https = "https://localhost:7890"

[data.public_keys]
    gpg_key_id = "333F460B105EC701"

[data.validation]
    warn_on_empty = true

[data.zsh]
    use_kiro_cli = false
    use_theme_p10k = false
    use_theme_starship = true
