{{- if eq .chezmoi.os "darwin" -}}
# Kiro CLI pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/kiro-cli/shell/bash_profile.pre.bash" ]] && builtin source "${HOME}/Library/Application Support/kiro-cli/shell/bash_profile.pre.bash"
{{- end }}

{{ template "env.bash" . }}
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('{{ .language.python.conda_root }}/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "{{ .language.python.conda_root }}/etc/profile.d/conda.sh" ]; then
        . "{{ .language.python.conda_root }}/etc/profile.d/conda.sh"
    else
        export PATH="{{ .language.python.conda_root }}/bin:$PATH"
    fi
fi
unset __conda_setup
# <<< conda initialize <<<

# Load .bashrc if it exists
if [ -f ~/.bashrc ]; then
    source ~/.bashrc
fi
