{{- if .zsh.use_kiro_cli -}}
# Kiro CLI pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.pre.zsh" ]] && builtin source "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.pre.zsh"
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{ template "env.zsh-linux.tmpl" . }}
{{- else if eq .chezmoi.os "darwin" -}}
{{ template "env.zsh-darwin.tmpl" . }}
{{- else if eq .chezmoi.os "windows" -}}
{{ template "env.zsh-windows.tmpl" . }}
{{- end }}
# Load .zshrc
if [ -f ~/.zshrc ]; then
    source ~/.zshrc
fi

{{- if .zsh.use_kiro_cli -}}
# Kiro CLI post block. Keep at the bottom of this file.
[[ -f "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/kiro-cli/shell/zprofile.post.zsh"
{{- end }}
