[user]
{{- if eq .personal.location "work" }}
    name = "suchang.zhang"
    email = "suchang.zhang@unity.cn"
{{- else if eq .personal.location "school" }}
    name = "Suchang Zhang"
    email = "231820107@smail.nju.edu.cn"
{{- else }}
    name = "Souvenal"
    email = "souvenal777@gmail.com"
{{- end }}

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    helper = manager
{{- else if eq .chezmoi.os "linux" }}
    helper = libsecret
{{- else }}
    helper = cache --timeout=3600
{{- end }}

[http]
    proxy = {{ .proxy.http | quote }}

[https]
    proxy = {{ .proxy.https | quote }}
