[alias]
    pushf = "push --force-with-lease"

[commit]
	gpgsign = true

[core]
    editor = "code --wait"

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    helper = manager
{{- else if eq .chezmoi.os "linux" }}
    helper = libsecret
{{- else }}
    helper = cache --timeout=3600
{{- end }}

[diff]
    renameLimit = 10000

[gpg]
    program = gpg

{{- if .proxy.use_proxy }}
[http]
    proxy = {{ .proxy.http | quote }}

[https]
    proxy = {{ .proxy.https | quote }}
{{- end }}

[pull]
    rebase = true
    
[rebase]
    autoStash = true

[user]
    email = {{ .personal.email | quote }}
    name = {{ .personal.name | quote }}
	signingkey = {{ .public_keys.gpg_key_id | quote }}
