[commit]
	gpgsign = true
	
[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    helper = manager
{{- else if eq .chezmoi.os "linux" }}
    helper = libsecret
{{- else }}
    helper = cache --timeout=3600
{{- end }}

[gpg]
    program = gpg

[http]
    proxy = {{ .proxy.http | quote }}

[https]
    proxy = {{ .proxy.https | quote }}

[user]
    email = {{ .personal.email | quote }}
    name = {{ .personal.name | quote }}
	signingkey = {{ .public_keys.gpg_key_id | quote }}
