[alias]
    pushf = "push --force-with-lease"

[commit]
    gpgsign = true

[core]
{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
{{- else }}
    autocrlf = input
{{- end }}
    editor = "code --wait"
    symlinks = true

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
    helper = manager
{{- else if eq .chezmoi.os "linux" }}
    helper = libsecret
{{- else }}
    helper = cache --timeout=3600
{{- end }}

[diff]
    renameLimit = 10000

[gpg]
    program = gpg

{{ if ne .personal.location "unity-cn" -}}
[http]
    proxy = {{ .network.http_proxy | quote }}

[https]
    proxy = {{ .network.https_proxy | quote }}
{{- end }}

[pull]
    rebase = true
    
[rebase]
    autoStash = true

[user]
    email = {{ .personal.email | quote }}
    name = {{ .personal.name | quote }}
	signingkey = {{ .public_keys.gpg_key_id | quote }}
