{
  "$schema": "https://raw.githubusercontent.com/code-yeongyu/oh-my-opencode/dev/assets/oh-my-opencode.schema.json",
  "agents": {
    "sisyphus": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "sisyphus-junior": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.1"{{ end }}
    },
    "prometheus": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "atlas": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.5"{{ end }}
    },
    "metis": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "hephaestus": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "oracle": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "momus": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.5"{{ end }}
    },
    "librarian": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"opencode/minimax-m2.5-free"{{ end }}
    },
    "explore": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"opencode/gpt-5-nano"{{ end }}
    },
    "multimodal-looker": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    }
  },
  "categories": {
    "visual-engineering": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "ultrabrain": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "deep": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.5"{{ end }}
    },
    "artistry": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "quick": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"opencode/claude-haiku-4-5"{{ end }}
    },
    "unspecified-low": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"opencode/minimax-m2.5-free"{{ end }}
    },
    "unspecified-high": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.7"{{ end }}
    },
    "writing": {
      "model": {{ if eq .personal.location "unity-cn" }}"codely/glm-5-fp8"{{ else }}"minimax-cn-coding-plan/MiniMax-M2.1"{{ end }}
    }
  }
}
